@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.dark.css);

:root {
    font-family: 'Roboto', system-ui, sans-serif;
    background-color: var(--md-sys-color-background);
}

p {
    color: var(--md-sys-color-tertiary);
}

h1 {
    color: var(--md-sys-color-primary);
}

h2, h3, h4 {
    color: var(--md-sys-color-secondary);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* START NAVIGATION */
.nav {
    background-color: var(--md-sys-color-surface);
    float: left;
    padding: 5px;
    width: 100%;
    --md-elevation-level:3;
    position: relative;
}

.nav-left {
    width: 5%;
    float: left;
    padding: 1px;
    position: relative;
    /* The width is 20%, by default */
}

.nav-center {
    width: 90%;
    float: left;
    padding: 1px;
    position: relative;
    /* The width is 20%, by default */
}

.nav-right {
    width: 5%;
    float: left;
    padding: 1px;
    position: relative;
    /* The width is 20%, by default */
}
/* END NAVIGATION */

.content {
    padding: 15px;
    float: left;
    width: 100%;
}

.content#left {
    width: 20%;
    /* The width is 20%, by default */
}

.content#center {
    width: 60%;
    /* The width is 60%, by default */
}

.content#right {
    width: 20%;
    /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {

    .nav-left,
    .nav-center {
        display: none;
    }
    .nav-right {
        width: 100%;
        text-align: right;
    }
    .content#left,
    .content#main,
    .content#right {
        width: 100%;
    }
}

.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select-enable { 
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}