html,
body {
    height: 100%;
    margin: 0;
    background-image: url("/images/coverimage.jpg");
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .nav {
    flex: 0 1 auto;
}

.box .cover-container {
    background-color: #000000cc;
    flex: 1 1 auto;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.title-container {
    background-color: rgba(var(--md-sys-color-secondary), 0.5);
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 3px solid var(--md-sys-color-surface);
}

.title {
    font-size: 50pt;
    margin: 0px;
}

.title-flow {
    float: left;
    position: relative;
    display: contents;
    height: 100%;
}

.title-flow#title-text {
    padding: 1px;
}

.title-flow #profile-image {
    padding: 1px;
    border-radius: 50%;
    border: 3px solid var(--md-sys-color-secondary);
}

.title-flow#spacer {
    padding: 1px;
    width: 50px;
    border-radius: 50%;
}