.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-shape-1 {
  width: 402px;
  height: 234px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  animation-timing-function: linear;
  margin: 175px 110px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: -125px auto 0 62px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 68px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 367px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 49px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-video-1 {
  height: 289px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 231px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -179px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 127px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: 129px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -16px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: -139px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 74px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -221px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-top: 126px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -150px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 219px;
  }
}